
<ion-header>

  <ion-navbar>
    <ion-title>Signup</ion-title>
  </ion-navbar>

</ion-header>
<style>
  ion-content{
    background-color: #fff;
  }
  .btn{
    display: block;
    margin: auto;
    text-align: center;
  }
</style>

<ion-content padding>

  <!--<form [formGroup]="loginForm"> -->
  <ion-item>
    <ion-label><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Fullname</ion-label>
    <ion-input type="text" value="" [(ngModel)]="userData.name"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Email_ID</ion-label>
    <ion-input type="text" value="" [(ngModel)]="userData.email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><ion-icon ios="ios-contact" md="md-contact"></ion-icon>  Username</ion-label>
    <ion-input type="text" value="" [(ngModel)]="userData.username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label><ion-icon ios="ios-lock" md="md-contact"></ion-icon>  Password</ion-label>
    <ion-input type="password" value="" [(ngModel)]="userData.password"></ion-input>
  </ion-item>

  <!-- <ion-item *ngIf="username.hasError('required') && username.touched" >
     <p> * Username required and must be minimum 5 digits</p>
   </ion-item> formControlName="username"-->


  <!-- <ion-item *ngIf="pass.hasError('required') && pass.touched">
     <p> * Password required  and must be within 20 digits </p>
   </ion-item>  formControlName="pass" -->

  <br>
  <!--</form> -->

  <button class="btn" ion-button (click) = "doSignup()" color="dark" outline round>Signup</button>
</ion-content>
